/node_modules
/public/hot
/public/storage
/public/backend/storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/vendor
.env
.env.*.backup
/.idea
/.vscode
/.phpunit.result.cache
/.DS_Store
/phpunit.xml
pluto-7a952-firebase-adminsdk-peigv-f4121b612f.json
